/* *,
*::before,
*::after {
	box-sizing: inherit;
} */

.page-wrapper {
  margin: 0 auto;
  max-width: 600px;
}

header {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 3em auto;
  width: max-content;
}
.search-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-group {
  width: 30ch;
  display: flex;
  justify-content: space-between;
  margin: 0.2em auto;
}

.search-btn {
  width: 25ch;
  margin-top: 1em;
  border-radius: 9999px;
}

/* desktop - details styling */
.dropdown {
  position: relative;
}

.dropdown p {
  text-align: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 30px;
  left: -50px;
  background-color: #f9f9f9;
  min-width: 460px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}
.dropdown-content p {
  width: 260px;
  display: inline-block;
}

.dropdown-content img {
  width: 200px;
  float: right;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Mobile - details styling */

details {
  font-size: 1rem;
  margin: 1em auto;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  width: 90%;
  background: #ffffff;
  border-radius: 8px;
  position: relative;
}
.sub-details {
  width: 100%;
}
.summary-title {
  user-select: none;
}

.summary-title:hover {
  cursor: pointer;
}

.summary-content {
  border-top: 1px solid #e2e8f0;
  cursor: default;
  padding: 1em;
  font-weight: 300;
  line-height: 1.5;
}

summary {
  list-style: none;
  padding: 1em;
}
summary:focus {
  outline: none;
}

summary:hover .summary-chevron-up svg {
  opacity: 1;
}

.summary-chevron-up svg {
  opacity: 0.5;
}

.summary-chevron-up,
.summary-chevron-down {
  pointer-events: none;
  position: absolute;
  top: 0.75em;
  right: 1em;
  background: #ffffff;
}
.summary-chevron-up svg,
.summary-chevron-down svg {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

.inline {
  display: inline-block;
}

.leg-name:not(:first-child)::before {
  content: " â¯ ";
}

.summary-content > div:not(:first-child)::before {
  content: "----";
}
